@font-face {
  font-family: Parastoo;
  src: url('Parastoo.eot');
  src: url('Parastoo.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/Parastoo.woff') format('woff'),
	   url('../fonts/Parastoo.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Parastoo;
  src: url('Parastoo-Bold.eot');
  src: url('Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/Parastoo-Bold.woff') format('woff'),
	   url('../fonts/Parastoo-Bold.ttf') format('truetype');
  font-weight: bold;
}

main,
footer {
	font: 18px/1.5 Parastoo, verdana, sans-serif;
}

.logo,
.hamburger-label,
nav ul {
	font: 24px/1.3 Parastoo, verdana, sans-serif;
}

header .hamburger .hamburger-label {
	font-size: 24px;
}

nav ul {
	font-size: 20px;
}

header .logo {
	margin-right: 20px;
	margin-left: 0;
}

[dir=rtl] header .logo {
	margin-right: 0;
	margin-left: 20px;
}

@media (min-width: 768px) {
	nav ul li:first-child {
		margin-left: 10px;
		margin-right: 0;
	}
}
